
.keyBoard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "displayAnswer displayAnswer displayAnswer displayAnswer" 
        "allClear posNeg percent div"
        "seven eight nine mult"
        "four five six subtract"
        "one two three add"
        "zero zero decPoint equal"
  
}

#displayAnswer {
  height: 51px;
  grid-area: displayAnswer;
  background-color:  black;
  color: white;
  padding-right: 10px;
  font-size: 45px;
  text-align: right;
  border: solid black 1px;
  
  
    
}

  #allClear {
    grid-area: allClear;
    background-color: dimgray;
    color: white;
    font-size: 20px;
      
  }
  
  #posNeg {
    grid-area: posNeg;
    background-color: dimgray;
    color: white;
    font-size: 25px;
     
  }
  
  #percent {
    grid-area: percent;
    background-color: dimgray;
    color: white;
    font-size: 20px;
    
  }
  
  #div {
    grid-area: div;
    background-color: orange;
    color: white;
    font-size: 30px;
    
    
  }
  
  #seven {
    grid-area: seven;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #eight {
    grid-area: eight;
    background-color: grey;
    color: white;
    font-size: 25px;
  }

  #nine {
    grid-area: nine;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #mult {
    grid-area: mult;
    background-color: orange;
    color: white;
    font-size: 25px;
  }

  #four {
    grid-area: four;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #five {
    grid-area: five;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #six {
    grid-area: six;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #subtract {
    grid-area: subtract;
    background-color: orange;
    color: white;
    font-size: 40px;
  }

  #one {
    grid-area: one;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #two {
    grid-area: two;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #three {
    grid-area: three;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #add {
    grid-area: add;
    background-color: orange;
    color: white;
    font-size: 30px;
  }

  #zero {
    grid-area: zero;
    background-color: gray;
    color: white;
    font-size: 25px;
  }

  #decPoint {
    grid-area: decPoint;
    background-color: gray;
    color: white;
    font-size: 35px;
  }

  #equal {
    grid-area: equal;
    background-color: orange;
    color: white;
    font-size: 25px;
  } 

  